.mobileBox {
  display: flex;
  justify-content: center;
  padding: 55px 24px 48px;
}

.mobileCut {
  border-radius: 30px;
  max-width: 150px;
  padding: 10px;
}

.text {
  padding: 24px;
}

@media (min-width: 768px) {
  .text {
    max-width: 580px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .mobileBox {
    margin-left: 100px;
  }

  .mobileCut {
    min-width: 250px;
    padding: 25px;
  }

  .text {
    padding: 0;
    margin-top: 24px;
    max-width: 450px;
  }
}
