.heroContainer {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #edf3f8;
}

.mobImg {
  height: 240px;
  width: 125px;
  border-radius: 15px;
}

.caption {
  font-family: 'DM Serif Display', serif;
  color: #36536b;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.wrapper {
  padding: 24px;
  margin-bottom: 54px;
}

.text {
  font-family: 'Public Sans';
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #6c8294;
  margin: 0;
}

.formButton {
  text-align: center;
  margin-bottom: 24px;
}

.wrapperEmail {
  margin-bottom: 16px;
}

.contactWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkWrapper a {
  padding: 0;
  font-size: 15px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .mobImg {
    width: 156px;
    height: 300px;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .caption {
    font-size: 48px;
    line-height: 56px;
    padding: 0 98px;
    letter-spacing: -0.35px;
  }

  .wrapperEmail {
    width: 100%;
    padding: 0 160px;
  }

  .sheduleForm {
    position: relative;
    display: flex;
    text-align: center;
    margin: 30px;
    margin-bottom: 0;
  }

  .formButton {
    position: absolute;
    right: 0;
    margin-right: 100px;
  }

  .wrapper {
    margin-bottom: 99px;
  }
}

@media (min-width: 1440px) {
  .heroContainer {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 75px 165px;
  }

  .mobImg {
    width: 258px;
    height: 500px;
  }

  .wrapper {
    margin-right: 200px;
    padding: 0;
    padding-top: 50px;
  }

  .caption {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.55px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .wrapperEmail {
    position: relative;
    padding: 0;
    width: 75%;
  }

  .sheduleForm {
    position: relative;
    display: flex;
    margin-right: 130px;
    margin: 0;
  }

  .contactWrapper {
    justify-content: left;
    text-align: left;
    padding-left: 27px;
  }
}
