.wrapper {
  padding: 30px 24px 60px;
}

.img {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 16px;
}

.subtitle {
  padding: 16px;
}

.text {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
  }

  .payment {
    margin: 15px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 30px 160px 90px;
  }
}
