.wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: #6c8294e7;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.showModal{
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: #fbfcfe;
  position: relative;
  width: 100%;
  max-width: 800px;
  z-index: 100;
  margin: 0 auto;
  transform: translate(0, -50%);
}

.btnClose {
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  color: #36536b;
  background-color: transparent;
}

