.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

@media (max-width: 768px) {
  .listLink {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .navList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .navList {
    margin-left: 44px;
  }
}
