.openMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: #1b262ff5;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.closeMenu {
  display: none;
}

.navMobileLine {
  display: block;
  background-color: #fbfcfe;
  height: 2px;
  opacity: 15%;
}

.btnWrapper {
  background-color: transparent;
  border: none;
}
